.cb__mediaContainer {
  position: fixed;
  left: 10px;
  bottom: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: -1;

  &__local {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: grey;
  }
 
  &__screenSharing {
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
  }

  &__video {
       width: 100%;
       height: 100%;
  }

  &__widget {
    &--hidden {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: grey;
  }
}
