import SariskaMediaTransport from "sariska-media-transport";

class {
   onMount() {
      this.input.track.attach(this.getEl("audio"));
   }

   onDestroy() {
      this.input.track.detach(this.getEl("audio"));
   }
}

<audio playsInline="1" autoPlay='1' class="cb__audio" key="audio"/>
