.cb__picker {
  display: flex;
  padding: 4px 15px 4px 15px;
  & > div {
    display: flex;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;
  }
  svg {
    fill: #123fbc;
  }
  .wrapper  {
    z-index: 999999999999!important;
    transform: translate(0px, -36px)!important;
  }
}

