import autorenew from "../Icons/autorenew.marko";

<div.cb__publisher>
   <div class="cb__publisher__menu">
      <label  class="mdc-elevation--z6 mdc-typography">Start new session</label>
      <div onClick(component.input.startNewSession) class="mdc-fab mdc-fab--mini cb__publisher__button">
          <div class="mdc-fab__ripple"></div>
          <span class="material-icons mdc-fab__icon"><${autorenew}/></span>
      </div>
   </div>
</div>

