@use "@material/fab/mdc-fab";
@use "@material/button/mdc-button";

.cb__uiWidget {
    font-family: Roboto, sans-serif!important;
    background: transparent!important;
    position: fixed;
    font-family: Roboto, sans-serif;
    align-items: flex-end;
    bottom: 53px;
    right: 17px;
    z-index: 2147483638;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--move {
        label {
            cursor: move!important;
        }
        span {
            cursor: move!important;
        }
        div {
            cursor: move!important;
        }
    }
    &--flexColumn {
        flex-direction: row;
    }
}