.cb__video {
  height: 123px !important;
  width: 218px !important;
  position: relative;
  &__name {
    color: white;
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 9;
    font-size: 14px!important;
  }
  
  &__screenSharing {
    position: absolute;
    right: 6px;
    bottom: 3px;
    fill: #123fbc;
     svg {
       height: 24px;
       width: 24px;
     }
  }
  
  &__zoomIcon {
      cursor: pointer;
     position: absolute;
     right: 5px;
     top: 9px;
     fill: #123fbc;
     svg {
       height: 24px;
       width: 24px;
     }
  }


  &__mic {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
    cursor: pointer;
    svg {
      fill: #123fbc;
    }
  }

  &__menuVert {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  &__thumbnail {

    position: absolute;
    text-align: center;
    top: 0;
    left: -1px;
    font-size: 40px;
    color: green;
    background: #263238;
    bottom: -1px;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  video {
     width: 220px !important;
  }
}
